@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Raleway&display=swap');

@keyframes beginning {
	from {
			padding-bottom: 0px;
			opacity: 100%;
		}
	to {
			padding-bottom: 70px;
			opacity: 0;
		}
}

@keyframes beginning_list {
from {
		opacity: 100%;
		margin-top: 8px;
		}
to {
		opacity: 0;
		margin-top: 20px;
		}
}

body {
	font-family: 'Raleway', sans-serif;
	margin: 0;
}

.main {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.main > h1 {
	animation-fill-mode: forwards;
	animation-duration: 1.4s;
	animation-iteration-count: 1;
	animation-name: beginning;
	animation-timing-function: cubic-bezier(0.55, 0.09, 0.68, 0.53); 
	animation-direction: reverse;
	margin-bottom:0;
	font-size: 57px;
	transition: 0.5s
}

ul {
	animation-fill-mode: forwards;
	animation-duration: 1.4s;
	animation-iteration-count: 1;
	animation-name: beginning_list;
	animation-timing-function: cubic-bezier(0.55, 0.09, 0.68, 0.53); 
	animation-direction: reverse;
	font-size: 120%;
	padding-right: 33px;
	text-align: center;
}


ul > li {
	list-style: none;
	padding-bottom: 0.5em;
}

h1:hover {
	padding-bottom: 12px;
}

a {
	text-decoration: none;
	transition: 0.3s ease-in-out;
	color:black;
}

a:hover {
	background-color: black;
	padding: 5px;
	text-shadow: 0 0 30px green;
	color: white;
}

.vignette {
  position:absolute;
  width:100%; height:100%;
  box-shadow: inset 0px 20px 300px 20px #404040;
  mix-blend-mode: multiply;
  -webkit-animation: vignette-anim 4s infinite; /* Safari 4+ */
  -moz-animation:    vignette-anim 4s infinite; /* Fx 5+ */
  -o-animation:      vignette-anim 4s infinite; /* Opera 12+ */
  animation:         vignette-anim 4s infinite; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes vignette-anim {
  0%   , 100%{ opacity: 1; }
  50% { opacity: 0.7; }
}
@-moz-keyframes vignette-anim {
  0%   , 100%{ opacity: 1; }
  50% { opacity: 0.7; }
}
@-o-keyframes vignette-anim {
  0%   , 100%{ opacity: 1; }
  50% { opacity: 0.7; }
}
@keyframes vignette-anim {
  0%   , 100%{ opacity: 1; }
  50% { opacity: 0.7; }
}

